<!DOCTYPE html>
<html lang="en">
    
<%- include("./components/head.ejs") %>

<body>
    <%- include("./components/nav.ejs") %>

    <p style="color: rgb(255, 196, 0); font-size: 5rem; text-align: center;">Error: Page not found! 😵</p>

    <%- include("./components/footer.ejs") %>

</body>
</html>